---
import ProfilesPage from "../../components/ProfilesPage.astro"
import BaseLayout from "../../layouts/BaseLayout.astro";
---


<BaseLayout title="LinkHub.Space">
    <div class="font-semibold text-[20px] md:text-[50px] w-full text-center mb-2">MEET THE <span class="text-primary">TEAM</span></div>

    <div class="text-[16px] md:text-[20px] w-full">
        <p class="w-full text-center">Success is not the work of one, but the collaboration of many. </p>
        <p class="w-full text-center">Together, we turn challenges into triumphs and visions into reality.</p>
    </div>
    <ProfilesPage />
</BaseLayout>